#section-about-us{
    padding-top: 100px;
    margin-bottom: 100px;
    background-image: url('/resources/img/map-bg.jpeg');
    background-size: cover;
    .row{
        --bs-gutter-x: 30px;
    }
    .about-us-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img{
            height: 65px;
            display: flex;
            align-items: center;
            margin-bottom: 38px;
            position: relative;
        }
        h3{
            margin-bottom: 20px;
            text-transform: capitalize;
        }
        p{
            text-align: justify;
            line-height: 26px;
        }
    }
    .dot-line-1,.dot-line-2{
        position: absolute;
        top: 29%;
    }
    .dot-line-1{
        left: 280px;
    }
    .dot-line-2{
        right: 280px;
    }
    //############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
    margin-top: -80px;
    margin-bottom: 54px;
    background-image: url('/resources/img/map-bg-2.jpeg');
    background-position-y: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    .row{
        justify-content: center;
    }
    .col-lg-4{
        padding-bottom: 46px;
        max-width: 570px;
    }
    .about-us-item{
        .img{
            height: max-content;  
            margin-bottom: 24px;
            img{
                width: 78px;
            }
        }
    }
}
// Màn hình mobile
@media screen and (max-width:767.98px){
    margin-top: -50px;
    padding-top: 0;
    background-position-y: 55%;
    background-position-x: 40%;
    background-size: 150%;
    margin-bottom: 34px;
    .about-us-item{
        .col-lg-4{
            padding-bottom: 40px;
        }
        .img{
            margin-bottom: 10px;
            img{
                width: 60px;
            }
        } 
    }
    
        
}
}
