#section-clients{
    margin-bottom: 120px;
    .container-1329 {
        background-color: $grayColor;
        padding-top: 120px;
        padding-bottom: 120px;
        border-radius: 20px;
      }
    .client-item{
        padding: 0 15px;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    .clients-carousel-2{
        margin-top: 30px;
    }
    .container-1195{
        &::-webkit-scrollbar {
            display: none;
          }
    }
    //############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
    margin-bottom:100px;
    padding-left: 0;
    padding-right: 0;
    .container-1329{
        padding-top: 77px;
        padding-bottom: 87px;
    }

}
// Màn hình mobile
@media screen and (max-width:767.98px){
    .client-item{
        padding: 0 10px;
    }
    .clients-carousel-2{
        margin-top: 20px;
    }
    .container-1329 {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}
}