#section-contact-form {
  margin-top: -60px;
  .d-flex {
    gap: 50px;
    justify-content: center;
  }
  .left-side {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    max-width: 470px;
    .asap-gg-map{
      box-shadow: 14px 14px 40px 0px #00000014;
      min-height: 494px;
      overflow: hidden;
      iframe{
        width: 100%;
        height: 100%;
      }
    }
    .detail-contact{
      box-shadow: 15px 15px 40px 0px #00000014;
      border-radius: 10px;
      padding: 59px 44px 0 43px ;
      height: 261px;
      .title{
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 24px;
        line-height: 1.171;
      }
      .detail-contact-list{
        display: flex;
        flex-direction: column;
        gap:24px;
        svg{
          width: 20px;
          min-width: 20px;
        }
        p{
          line-height: 1.171;
        };
      }
    }
  }
  .right-side {
    position: relative;
    overflow: visible;
    .send-form-icon{
      position: absolute;
      bottom: -30px;
      right: -100px;
    }
    form {
      min-width: 670px;
      width: 670px;
      padding: 60px 100px 79px;
      border-radius: 34px;
      border: 9px solid $yellowColor1;
    }
    .user-info-item {
      margin-bottom: 16px;
    }
    .form-group {
      display: flex;
      width: 100%;
      align-items: center;
      .form-control:focus {
        box-shadow: none;
      }
      label {
        width: 170px;
        min-width: 170px;
        font-weight: 500;
        text-transform: capitalize;
        margin-right: 30px;
      }
      input,
      textarea {
        border: 1px solid #eeeeee;
        border-radius: 4px;
        padding: 15px 10px;
      }
      textarea {
        padding: 5px 10px;
      }
    }
    .btn-contact-3 {
      margin-top: 51px;
    }
    #title-form-2{
      display: none;
      margin-bottom: 34px;
      p{
        font-weight: 500;
      }
    }
  }
//############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
  margin-top: -40px;
  .left-side{
    max-width: unset;
    width: 100%;
    .asap-gg-map{
      min-height: unset;
      height: max-content;
      iframe{
        height: 40vw;
      }
      margin-bottom: 50px;
    }
  }
  .right-side {
    width: 100%;
    overflow: visible;
    .send-form-icon{
      bottom: -10px;
      right: -40px;
    }
    form{
      width: 100%;
      min-width: unset;
      padding: 107px 107px 85px 75px;
    }
  }
  .container-1440 {
    position: relative;
    
  }
  padding-bottom: 100px;
}
// Màn hình mobile
@media screen and (max-width:767.98px){
  padding-bottom: 80px;
  .d-flex{
    gap: 40px;
  }
  h2{
    margin-bottom: 14px;
  }
  .right-side {
    .send-form-icon{
        width: 79px;
        bottom: -2px;
        right: -26px;
    }
    form{
      padding: 33px 21px 23px 21px;
      border: 5px solid #F2BF49;
      border-radius: 16px;
      .form-group{
        flex-direction: column;
        align-items: unset;
        input,textarea{
          padding: 7px 5px 7px 10px;
        }
        textarea{
          height: 38px;
        }
        label{
          width: unset;
        }
      }
      label,input,textarea{
        font-size: 0.875rem;
      }
    }
    .btn-contact-3{
      margin-top: 21px;
    }
  }
  .left-side{
    .asap-gg-map{
      margin-bottom: 40px;
      iframe{
        height: 85vw;
      }
    }
    .detail-contact{
      padding: 19px 34px 19px 20px;
      height: max-content;
      .title{
        font-size: 1rem;
        margin-bottom: 20px;
      }
      .detail-contact-list{
        gap:10.5px;
        p{
          font-size: 1rem;
        }
      }
    }
  }
  .container-1440 {
    .send-form-icon{
      width: 79px;
      bottom: -6px;
      right: -23px;
  
    }
  }
}
}
