#section-contact-us {
  .title {
    height: 380px;
    background-image: url("/resources/img/contact-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px;
    h2 {
      color: #fff;
    }
  }
  .row {
    margin: 0 auto;
    --bs-gutter-x: 0;
    justify-content: center;
    gap: 30px;
    transform: translateY(-50%);
    height: max-content;
    padding: 41px 0;
  }
  .col {
    max-width: 470px;
    box-shadow: 15px 15px 40px 0px #00000014;
    border-radius: 10px;
  }
  .contact-info-item {
    width: 100%;
    padding: 31px 29px 41px;
    background-color: #fff;
  }
  .contact {
    margin: 0 auto;
    .phone-call {
      a {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.167;
      }

      p {
        font-size: 0.9375rem;
        line-height: 1.167;
      }
    }
  }
  //############################## RESPONSIVE ###################################
  // Màn hình Tablet
  @media screen and (max-width: 1199.98px) {
    padding-left: 0;
    padding-right: 0;
    .title{
      padding-top: 73px;
      height: 280px;
      background-image: url('/resources/img/contact-bg-2.jpeg');
    }
    // .row{
    //   padding-left: 25px;
    //   padding-right: 25px;
    // }  
    .col{
      max-width: 345px;
    }
    .contact-info-item{
      padding: 23px 21px 29px;
      .hotline-icon{
        width: 37px;
      }
      .qr-icon{
        width: 50.84px;
      }
    }
    .contact{
      .phone-call{
        margin-left: 15px;
        a{
        font-size: 1.625rem;
        }
        p{
          font-size: 1rem;
        }
      }
    }
  }
  // Màn hình mobile
  @media screen and (max-width: 767.98px) {
    .row{
      transform: translateY(-20%);
      gap: 20px;
    }
    .title{
      padding-top: 43px;
      height: 200px;
      background-position-x: 22%;
    }
    .contact-info-item {
      padding: 22px 20px 25px;
  }

  }
}
