footer{
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    p{
        &:last-child{
            margin-top: 3px;
            font-size: 0.75rem;
            line-height: 1.18;
        }
    }
    //############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
    padding-top: unset;
    padding-bottom: 58px;
}
// Màn hình mobile
@media screen and (max-width:767.98px){
    padding-bottom: 43px;
}
}