header {
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  .navbar {
    padding: 0;
    .container-fluid {
      padding: 0;
      height: 88px;
    }
  }
  .nav-link {
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    padding: 0 !important;
    margin-right: 32px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: $yellowColor1;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.1s ease-in-out;
    }
  }
  .nav-link:hover {
    &::after {
      width: calc(100% - 20px);
    }
  }
  .navbar-expand-xl .navbar-collapse .viewOnMobile {
    display: none !important;
  }

  //############################## RESPONSIVE ###################################
  // Màn hình Tablet
  @media screen and (max-width: 1199.98px) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 6px 36px 0px #00000014;
    .navbar {
      .navbar-toggler {
        padding-left: 0;
        padding-right: 0;
      }
      .container-fluid {
        height: 65px;
        overflow: hidden;
        .navbar-brand {
          height: 65px;
          overflow: hidden;
          img {
            width: unset;
            height: 100%;
          }
        }
      }
    }
    .navbar-toggler {
      line-height: unset;
      font-size: unset;
      border-color: transparent;
    }
    #openMenu,
    #closeMenu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      p{
        font-weight: 500;
        color: #000;
      }
    }
    #fake-header-shadow{
      height: 65px;
      box-shadow: 36px 6px 36px 0px #00000014;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .navbar-collapse.show,
    .navbar-collapse:not(.show) {
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;
      background-color: white;
      z-index: -1;
      display: block;
      transition: all 0.1s ease 0s;
    }
    
    .navbar-collapse:not(.show) {
      transform: translateY(-129vh);
      display: none;
    }
    .navbar-expand-xl .navbar-collapse .viewOnDesktop {
      display: none !important;
    }
    .navbar-expand-xl .navbar-collapse .viewOnMobile {
      display: block !important;
      padding-top: 26px;
      padding-left: 25px;
      padding-right: 25px;
      li {
        .nav-link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 0;
          padding: 26px 0 !important;
          font-size: 1.625rem;
          font-weight: 500;
          line-height: 1.167;
          border-bottom: 2px solid #f2bf49;
        }
      }
    }
    .contact{
      justify-content: center;
      margin: 40px auto 11px auto;
      scale: 1.5;
    }
    .btn-contact-mobile{
      background-color: $yellowColor1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      width: 88px;
      border: none;
      padding: unset;
    }
  }
  // Màn hình mobile
  @media screen and (max-width: 767.98px) {
    padding-right: 10px;
    #openMenu,#closeMenu{
      img{
        width: 19px;
      }
      p{
        font-size: 11px;
      }
    }
    #fake-header-shadow{
      height: 50px;
      box-shadow: 36px 6px 36px 0px #00000014;
    }
    .navbar{
      .container-fluid{
        height: 50px;
        .navbar-brand{
          height: 50px;
        }
      }
    }
    .navbar-expand-xl {
      .navbar-collapse {
        .viewOnMobile {
          padding-top: 0;
          padding-bottom: 40px;
          margin-bottom: 0 !important;
          li {
            .nav-link{
              font-size: 1.5rem;
              padding: 24px 0;
              img{
                width: 36px;
              }
            }
          }
        }
      }
    }
    .contact{
      scale: unset;
      margin: 0;;
      img{
        width: 24px;
      }
      .phone-call{
        a{
          font-size: 1.25rem;
          line-height: 1.172;
        }
        p{
          font-size: 0.5625rem;
          line-height: 1.139;
        }
      }
    }
    div.gap-4{
      gap: 10px !important;
    }
    .btn-contact-mobile{
      width: 50px ;
      height: 50px ;
      img{
        width: 26px;
      };
    }
  }
}
