#section-jobs {
  padding-top: 100px;
  .row {
    --bs-gutter-x: 30px;
    &::-webkit-scrollbar {
      display: none;
    }
    overflow: hidden;
  }
  .job-item {
    margin-bottom: 30px;
    img,p{
      margin: 0;
    }
    p {
      transform: translateY(-2px);
      width: 100%;
      height: 54px;
      background-color: $yellowColor1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.167;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      text-transform: capitalize;
      text-align: center;
    }
  }
  //############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
  padding-top: 80px;
}
// Màn hình mobile
@media screen and (max-width:767.98px){
  h2{
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .job-item {
    margin-bottom: 16px;
    p{
      height: 40px;
    }
  }
}
}

