#section-location{
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    .container-1170 {
        &::-webkit-scrollbar {
            display: none;
          }
    overflow: hidden;

    }
    //############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
    margin-top: 60px;
}
// Màn hình mobile
@media screen and (max-width:767.98px){

}
}