#sticky-icons{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}
.fb_dialog_content iframe{
    bottom: 77px !important;
    margin: 0px !important;
    right: 30px !important;
}
.sticky-icon{
    cursor: pointer;
}
#scroll-to-top{
    display: none;
}