.container-1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.container-1170 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.container-1195 {
  width: 100%;
  max-width: 1195px;
  margin: 0 auto;
}
.container-1329 {
  width: 100%;
  max-width: 1329px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}
img {
  object-fit: contain;
}
p {
  margin-bottom: 0;
}
h2 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 56px;
  position: sticky;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  width: 100%;
  height: 53px;
  text-align: center;
  background: $yellowColor1;
  font-size: 1.75rem;
  line-height: 53px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.hight-light {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 9px;
    z-index: -1;
    background-color: $yellowColor1;
  }
}
.contact {
  margin: 0 20px;
  .phone-call {
    margin-left: 8px;
    a {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 28px;
    }
    p {
      font-size: 0.6875rem;
      line-height: 12.89px;
      font-weight: 400;
    }
  }
}

::placeholder {
  color: #DBDBDB !important;
  font-weight: 300;
  font-style: italic;
  opacity: 1; /* Firefox */
  // Màn hình mobile
@media screen and (max-width:767.98px){
  font-size: 0.8rem;
}
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #b4b4b4;
  font-weight: 300;
  font-style: italic;
}
.animate__delay-300ms {
  animation-delay: 0.3s;
}
.animate__delay-500ms {
  animation-delay: 0.5s;
}
.animate__delay-1s {
  animation-delay: 1s;
}
.animate__delay-1500ms {
  animation-delay: 1.5s;
}
.animate__delay-2500ms {
  animation-delay: 2.5s;
}
.animate__delay-3500ms {
  animation-delay: 3.5s;
}

//############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width: 1199.98px) {
  .section {
    padding-left: 25px;
    padding-right: 25px;
  }
  h2{
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.625rem;
  }
  .hight-light {
    &::after{
      bottom: 3px;
    }
  }
}
// Màn hình mobile
@media screen and (max-width: 767.98px) {
  h2{
    margin-bottom: 43px;
  }
  h3{
    font-size: 1.75rem;
    line-height: 1.17;
  }
  h4{
    font-size: 1.1rem;
  }
}

