* {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
  
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
