@mixin styleButton ($wb,$hb,$wa,$ha,$fsa,$lha){
    width: $wb;
    height: $hb;
    background-color: #000;
    border: 1px;
    padding: unset ;
    position: relative;
    border-radius: 4px 8px;
    transition: all .3s ease-in-out;
    color: #000;
    overflow: hidden;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: $wa;
      height: $ha;
      font-size: $fsa;
      border-radius: 4px;
      border: 1px solid #000;
      font-weight: 500;
      line-height: $lha;
      background-color: $yellowColor1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s linear;
      img,svg{
        margin-right: 8px;
        transition: all .3s;
        path{
        transition: all .3s;
        }
      }
    }
    &:hover{
      background-color: none;
      color: #fff !important; 
      border: 1px solid none;
      border-radius: 6px;
      a{
        background-color: #000;
        color: #fff !important;
        border-radius: 6px;
      }
      svg{
        path{
          fill: #fff;
          stroke: #fff;
        }
      }
    }
    @media screen and (max-width:767.98px){
      img,svg{
        width: 16.82px;
      }
      &:hover{
        background-color: #000;
        color: #000 !important;
        a{
          background-color: $yellowColor1;
          color: #000 !important;
        }
        svg{
          path{
            fill: #000;
            stroke: #000;
          }
        }
      }
    }
}

@mixin styleContactButton($bgColor,$txtColor,$imgSz){
  border-radius: 8px;
  background-color: $bgColor;
  color: $txtColor;
  width: 100%;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  transition: all .3s ease-in;
  border: 1px solid $bgColor;
  img,svg{
    width: $imgSz;
    height: $imgSz;
    margin-right: 12px;
    transition: all .1s ease-in;
  }
  font-size: 1.5rem;
  line-height: 1.1;
  &:hover{
    background-color: #fff;
    border: 1px solid $bgColor;
    color: #000;
    svg{
      path{fill: #000;}
    }
  }
  @media screen and (max-width:767.98px){
    font-size: 1.625rem;
    padding: 7px 0;
    margin-bottom: 20px;
  }
}
//############################## RESPONSIVE ###################################
// Màn hình Tablet
@media screen and (max-width:1199.98px){
.btn-contact-info-1{
  img,svg{
    width: 20.55px !important;
    height: 20.55px !important;
  }
}
.btn-contact-info-2{
  img,svg{
    width: 22.81px !important;
    height: 22.81px !important;
  }
}
}
// Màn hình mobile
@media screen and (max-width:767.98px){
  .btn-contact-info-1{
    img,svg{
      width: 19.48px !important;
      height: 20px !important;
    }
  }
  .btn-contact-info-2{
    img,svg{
      width: 21.62px !important;
      height: 22.08px !important;
    }
  }
}